.team__list__icon, .nav__list, .nav, .header__email, .header__list, .footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p, img, ul, li, form, label, input, a, section, body {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  -webkit-transition: opacity 250ms bezier(0.4, 0, 0.2, 1), visibility 400ms ease-in-out;
  transition: opacity 250ms bezier(0.4, 0, 0.2, 1), visibility 400ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  z-index: 999999999;
  width: 100%;
  max-width: 450px;
  height: 609px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__button--close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon--close {
  width: 14px;
  height: 14px;
  background-color: #fff;
}
.modal__icon--close:hover, .modal__icon--close:focus {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
}
.modal__title {
  position: relative;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  margin-top: 12px;
}
.modal__input {
  display: block;
  width: 100%;
  border-width: 1px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 10px;
  max-width: 370px;
  padding: 12px 12px 12px 40px;
}
.modal__input:last-child {
  padding: 16px 12px 16px 12px;
  height: 120px;
}
.modal__input:hover, .modal__input:focus, .modal__input:active {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon, .modal__input:active + .modal__icon {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 30px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover, .modal__icon:focus {
  fill: #2196f3;
}
.modal__checkbox {
  margin-top: 20px;
  margin-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .modal__checkbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.modal__checkbox__input {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-top: 4px;
}
@media screen and (min-width: 480px) {
  .modal__checkbox__input {
    margin-top: 0px;
  }
}
.modal__text--link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3%;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 768px) {
  .modal__text--link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__text--link {
    font-size: 14px;
  }
}
.modal__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #2196f3;
}
.modal__button {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  margin: 0 auto;
  padding: 10px 52px;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  background-color: #2196f3;
}

.title__black {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title__black {
    font-size: 36px;
  }
}

body {
  font-family: "roboto", sans-serif;
}

span {
  color: #2196f3;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__first__party {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__first__party {
    margin-bottom: 60px;
    margin-top: 0px;
    margin-right: 165px;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__first__party {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 70px;
    margin-left: 0px;
  }
}
.footer__logo {
  font-family: "raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
  }
}
.footer__adress {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: 1, 71;
  letter-spacing: 3%;
  margin-bottom: 9px;
  color: #fff;
}
.footer__email {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer__tel {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  display: block;
  margin-top: 9px;
}
.footer__title {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}
.footer__list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__list__icon {
    margin: 0px 0px 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list__icon {
    margin: 0px;
  }
}
.footer__link__icon {
  padding: 12px;
  fill: #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  display: block;
}
.footer__link__icon:hover, .footer__link__icon:focus {
  padding: 12px;
  fill: #fff;
  border-radius: 50%;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__title__form {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__title__form {
    margin: 0px 258px 20px 273px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title__form {
    margin: 12px 36px 20px 93px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__input {
  width: 100%;
  padding: 15px;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
    margin: 0px 137px 20px 151px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin: 0px 12px 0px 93px;
  }
}
.footer__input::-webkit-input-placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
.footer__text__form {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.footer__button {
  padding: 10px 28px 10px 31px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #2196f3;
  border: transparent;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer__button {
    margin: 0px 262px 0px 276px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__button {
    padding: 13px 28px 13px 28px;
    margin: 0px;
  }
}
.footer__icon__telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}

header {
  border: 1px solid rgb(236, 236, 236);
  background-color: rgb(255, 255, 255);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: block;
  font-family: "raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: black;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
    font-size: 26px;
  }
}
.header__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  margin: 0px 15px 0px 224px;
}
@media screen and (min-width: 768px) {
  .header__list {
    margin: 0px 0px 0px 96px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin: 0px 0px 0px 224px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__email {
  font-family: "roboto";
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__email {
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .header__email {
    font-size: 16px;
    font-weight: 400;
  }
}
.header__email:hover, .header__email:focus {
  color: #2196f3;
}
.header__email:hover .envelope, .header__email:focus .envelope {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__phone {
  font-family: "roboto";
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__phone {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header__phone {
    font-weight: 400;
    font-size: 16px;
  }
}
.header__phone:hover, .header__phone:focus {
  color: #2196f3;
}
.header__phone:hover .smartphone {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nav__list {
  gap: 50px;
}
.nav__link {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  display: inline-block;
  line-height: 100%;
  color: #212121;
  position: relative;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 14px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link:hover::before, .nav__link:hover::before, .nav__link:focus::before, .nav__link:focus::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav__link::before, .nav__link::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.3s linear, 0.3s linear;
  transition: opacity 0.3s linear, 0.3s linear;
  bottom: -28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header__button {
  border: transparent;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.mob.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.mob {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.icon__mob {
  height: 40px;
  width: 40px;
}

.icon__burger {
  display: block;
  height: 40px;
  width: 40px;
}

.mob__button {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 21px;
  right: 22px;
}

.mob__icon--close {
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 21px;
  right: 22px;
}
.mob__icon--close:hover {
  fill: #2196f3;
}

.mob__nav__list {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mob__nav__link {
  font-family: "roboto";
  font-size: 40px;
  font-weight: 500;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  display: inline-block;
  line-height: 100%;
  color: #212121;
  position: relative;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob__nav__link:hover, .mob__nav__link:focus {
  color: #2196f3;
}

.mob__list {
  padding-bottom: 64px;
  gap: 32px;
}
@media screen and (min-width: 320px) {
  .mob__list {
    margin-top: 150px;
  }
}
@media screen and (min-width: 480px) {
  .mob__list {
    margin-top: 202px;
  }
}

.mob__email {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  margin-top: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.mob__email:hover, .mob__email:focus {
  color: #2196f3;
  font-size: 34px;
}

.mob__phone {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob__phone:hover, .mob__phone:focus {
  color: #2196f3;
  font-size: 34px;
}

.mob__list__second {
  position: absolute;
  bottom: 48px;
  left: 40px;
}
@media screen and (min-width: 320px) {
  .mob__list__second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .mob__list__second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.mob__link {
  color: #2196f3;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
}

.mob__item--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.mob__item--second::after {
  content: "";
  display: block;
  width: 22px;
  height: 0px;
  opacity: 1;
  border: 1px solid rgba(33, 33, 33, 0.2);
  rotate: 90deg;
}

.mob__item--second:last-child::after {
  display: none;
}

main {
  font-family: "roboto", sans-serif;
}

.customers {
  margin-bottom: 60px;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    margin-bottom: 94px;
    margin-top: 94px;
  }
}
.customers .title__black {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers .title__black {
    margin-bottom: 50px;
  }
}
.customers__list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .customers__list__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list__icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex block;
    gap: 30px;
    margin-bottom: 94px;
  }
}
.customers__item {
  margin-bottom: 15px;
  width: 100%;
  max-width: 48%;
}
@media screen and (min-width: 768px) {
  .customers__item {
    margin-bottom: 0px;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    margin-bottom: 0px;
    width: 170px;
  }
}
.customers__link__icon {
  display: block;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 100%;
  height: 92px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers__link__icon {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link__icon {
    width: 170px;
    height: 92px;
  }
}
.customers__link__icon:hover, .customers__link__icon:focus {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #2196f3;
  display: block;
}
.customers__link__icon:hover .customers__icon, .customers__link__icon:focus .customers__icon {
  fill: #2196f3;
}
.customers__ya__co {
  width: 106px;
  height: 60px;
  display: block;
  margin: 16px auto 16px;
  fill: #afb1b8;
}
@media screen and (min-width: 1200px) {
  .customers__ya__co {
    margin: 18px auto 17px;
  }
}
.customers__company {
  width: 106px;
  height: 60px;
  display: block;
  margin: 16px auto 16px;
  fill: #afb1b8;
}
@media screen and (min-width: 1200px) {
  .customers__company {
    margin: 18px auto 17px;
  }
}
.customers__company__black {
  width: 106px;
  height: 60px;
  display: block;
  margin: 16px auto 16px;
  fill: #afb1b8;
}
@media screen and (min-width: 1200px) {
  .customers__company__black {
    margin: 18px auto 17px;
  }
}
.customers__poster__peters {
  width: 106px;
  height: 60px;
  display: block;
  margin: 16px auto 16px;
  fill: #afb1b8;
}
@media screen and (min-width: 1200px) {
  .customers__poster__peters {
    margin: 18px auto 17px;
  }
}
.customers__brand {
  width: 106px;
  height: 60px;
  display: block;
  margin: 16px auto 16px;
  fill: #afb1b8;
}
@media screen and (min-width: 1200px) {
  .customers__brand {
    margin: 18px auto 17px;
  }
}
.customers__company__cube {
  width: 106px;
  height: 60px;
  display: block;
  margin: 16px auto 16px;
  fill: #afb1b8;
}
@media screen and (min-width: 1200px) {
  .customers__company__cube {
    margin: 18px auto 17px;
  }
}

.info {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .info {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .info {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .info__list {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.info__item:nth-child(1)::before {
  content: "";
  background-size: 70px;
  height: 120px;
  display: inline-block;
  background-image: url(./../image/antenna@x1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info__item:nth-child(1)::before {
    background-image: url(./../image/antenna@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .info__item:nth-child(1)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .info__item:nth-child(1)::before {
    width: 270px;
    height: 120px;
  }
}
.info__item:nth-child(2)::before {
  content: "";
  background-size: 70px;
  height: 120px;
  display: inline-block;
  background-image: url(./../image/clock@x1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info__item:nth-child(2)::before {
    background-image: url(./../image/clock@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .info__item:nth-child(2)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .info__item:nth-child(2)::before {
    width: 270px;
    height: 120px;
  }
}
.info__item:nth-child(3)::before {
  content: "";
  height: 120px;
  display: inline-block;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  width: 100%;
  background-image: url(./../image/diagram@x1.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info__item:nth-child(3)::before {
    background-image: url(./../image/diagram@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .info__item:nth-child(3)::before {
    width: 354px;
    height: 120px;
    background-image: url(./../image/diagram@x1.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .info__item:nth-child(3)::before {
    background-image: url(./../image/diagram@x2.png);
  }
}
@media screen and (min-width: 1200px) {
  .info__item:nth-child(3)::before {
    width: 270px;
    height: 120px;
    background-image: url(./../image/diagram@x1.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .info__item:nth-child(3)::before {
    background-image: url(./../image/diagram@x2.png);
  }
}
.info__item:nth-child(4)::before {
  content: "";
  height: 120px;
  display: inline-block;
  background-image: url(./../image/astronaut@x1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  background-color: #f5f4fa;
  width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .info__item:nth-child(4)::before {
    background-image: url(./../image/astronaut@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .info__item:nth-child(4)::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .info__item:nth-child(4)::before {
    width: 270px;
    height: 120px;
  }
}
.info__title {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .info__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .info__title {
    text-align: left;
  }
}
.info__text {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .info__text {
    max-width: 354px;
  }
}

.do {
  display: none;
}

@media screen and (min-width: 1200px) {
  .do {
    margin-bottom: 94px;
    display: block;
  }
  .do .title__black {
    margin-bottom: 50px;
  }
  .do__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
  .do__item {
    position: relative;
  }
  .do__img {
    width: 370px;
    height: 294px;
  }
  .do__title {
    font-family: "roboto";
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 27px 0px;
    z-index: 1;
  }
}
.article {
  margin-bottom: 30px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .article {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .article {
    margin-bottom: 94px;
    margin-top: 94px;
  }
}
.article__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 0px 135px 40px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .article__nav__list {
    margin: 0px 82px 15px 82px;
  }
}
@media screen and (min-width: 1200px) {
  .article__nav__list {
    margin: 94px 312px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.article__button {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  border: #2196f3;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.article__button:hover, .article__button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .article__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .article__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.article__item {
  position: relative;
  width: 100%;
  border-width: 1px;
  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
  z-index: 2;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .article__item {
    width: 354px;
    height: 404px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .article__item {
    width: 370px;
    height: 404px;
    margin-bottom: 0px;
  }
}
.article__item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.article__item:hover .article__wrap {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.article__party__photo {
  overflow: hidden;
}
.article__photo {
  z-index: -2;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .article__photo {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .article__photo {
    width: 370px;
    height: 294px;
  }
}
.article__wrap {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.8980392157);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  bottom: 0px;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  color: #fff;
}
.article__text__wrap {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
@media screen and (min-width: 320px) {
  .article__text__wrap {
    margin: 15px 24px;
  }
}
@media screen and (min-width: 480px) {
  .article__text__wrap {
    margin: 63px 24px;
  }
}
.article__text {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-left: 24px;
  color: #757575;
  margin-bottom: 20px;
}
.article__title {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  line-height: 36px;
}
.article__party__info {
  position: relative;
  z-index: 10000000000000000000;
  background-color: #fff;
  width: 100%;
  height: 110px;
}
@media screen and (min-width: 768px) {
  .article__party__info {
    width: 354px;
    height: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .article__party__info {
    width: 370px;
    height: 110px;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team .title__black {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team .title__black {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
.team__photo {
  display: inline-block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .team__photo {
    width: 100%;
  }
}
.team__item {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
}
.team__name {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
  color: #212121;
}
.team__profession {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  color: #757575;
}
.team__list__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .team__list__icon {
    margin: 0px 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list__icon {
    margin: 0px 32px 30px 32px;
  }
}
.team__link__icon {
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__link__icon:hover, .team__link__icon:focus {
  padding: 12px;
  fill: #fff;
  border-radius: 50%;
  background-color: #2196f3;
  border: 1px solid #2196f3;
}
.team__icon {
  width: 20px;
  height: 20px;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../image/hero__mobile@x1.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../image/hero__mobile@x1.png);
  padding: 118px 0px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(./../image/hero__mobile@x2.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../image/hero__tablet@x1.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../image/hero__tablet@x1.png);
    padding: 118px 0px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(./../image/hero__tablet@x2.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../image/hero__desk@x1.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../image/hero__desk@x1.png);
    padding: 200px 0px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(./../image/hero__desk@x2.png);
  }
}
.hero__title__white {
  font-family: "roboto";
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0px auto 30px;
}
@media screen and (min-width: 768px) {
  .hero__title__white {
    font-family: "roboto";
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    margin: 0px 204px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title__white {
    font-family: "roboto";
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    margin: 0px 237px 30px;
  }
}
.hero__button {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  display: block;
  background-color: #2196f3;
  color: #fff;
  margin: 0 auto;
  border: #2196f3;
  border-radius: 4px;
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}