body {
  font-family: "roboto", sans-serif;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  outline: solid darkturquoise;
}
.logo-header {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #000000;
  padding-top: 24px;
  

}
span{
  color: #2196f3;
}
.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #ffffff;
  
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 6%;
  text-align: center;
  color: #ffffff;
}
h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 7, 14;
  letter-spacing: 3%;
  color: #212121;
}
h4 {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 6, 25;
  letter-spacing: 3%;
  color: #757575;
}
p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.title-white {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 30px;
}
.title-black {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}
.section {
  font-family: "roboto", sans-serif;
  background-color: #2f303a;
}

.section-info {
  margin-bottom: 94px;
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section-team {
 
  margin-top: 94px;
}
.section-production {
  margin-bottom: 0px;
  margin-top: 94px;
  
}
.gallery-image {
  width: 370px;
  height: 294px;
}
.gallery-team {
  width: 270px;
  height: 260px;
}
.gallery-production {
  width: 370px;
  height: 294px;
}
.div-header{
  display: flex;
  justify-content: space-between;
}
.div-list{
  display: flex;
  justify-content: space-between;
}
.list-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 32px;
  padding-top: 32px;
  
}
.info-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 32px;
  padding-left: 93px;
}
.list-info{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 94px 215px 118px;
}
.list-photo{
  display: flex;
  justify-content: space-between;
  gap: 30px;

}
.list-team{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  
}
.list-nav-production {
  
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-right: 313px;
  padding-left: 312px;
}
.list-production{
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  letter-spacing: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.link {
  font-family: "roboto" sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.email-header {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.email-header:hover,
.email-header:focus {
  color: #2196f3;
}
.tel-header {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.tel-header:hover,
.tel-header:focus {
  color: #2196f3;
}
.email-footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.tel-footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.adress-footer {
  font-family: "roboto" sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;

  color: #ffffff;
}
header {
  background-color: #ececec;
}
main {
  font-family: "roboto", sans-serif;
}
footer {
  background-color: #2f303a;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
nav {
  font-family: "roboto", sans-serif;
}

.button {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 6%;
  text-align: center;
  display: block;
  background-color: #2196f3;
  color: #ffffff;
  width: 216px;
  height: 50px;
  margin: auto;
  
}
.btn{
  width: 103px;
  height: 38px;
  border: #2196f3;
}
.btn:hover,
.btn:focus{
  color: #ffffff;
  background-color: #2196f3;
}
