body {
  font-family: "roboto", sans-serif;
}
.container {
  width: 1600px;
  padding: 0 15px;
  margin: 0 auto;

  outline: solid darkturquoise;
}
.logo1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 215px;
  padding-right: 93px;

}
span{
  color: #2196f3;
}
.logo2 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #ffffff;
  padding:  60px 1240px 161px 215px ;
  
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 6%;
  text-align: center;
  color: #ffffff;
}
h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 7, 14;
  letter-spacing: 3%;
  color: #212121;
}
h4 {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 6, 25;
  letter-spacing: 3%;
  color: #757575;
}
p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.title1 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #ffffff;
  padding: 200px 452px 0px;
}
.title2 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  padding: 0px 617px 50px;
}
.title3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  padding: 94px 668px 50px;
}
.section-1 {
  font-family: "roboto", sans-serif;
  background-color: #2f303a;
}

.section-2 {
  margin-bottom: 94px;
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section-4 {
 
  margin-top: 94px;
}
.section-5 {
  margin-bottom: 0px;
  margin-top: 94px;
  margin-left: 215px;
  margin-right: 215px; 
}
.gallery-image1 {
  width: 370px;
  height: 294px;
}
.gallery-image2 {
  width: 270px;
  height: 260px;
}
.gallery-image3 {
  width: 370px;
  height: 294px;
}
.div-1{
  display: flex;
  justify-content: space-between;
}
.div-2{
  display: flex;
  justify-content: space-between;
}
.list1-1{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-right: 250px;
}
.list1-2{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 32px 215px 50px 32px;
}
.list2{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 94px 215px 118px;
}
.list3{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 215px;
  margin-right: 215px;
}
.list4{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0px 215px 94px;
}
.list5-1 {
  padding: 0px 297px 34px 298px ;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.list5-2 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  letter-spacing: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.link {
  font-family: "roboto" sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.email1 {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.email1:hover,
.email1:focus {
  color: #2196f3;
}
.tel1 {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.tel1:hover,
.tel1:focus {
  color: #2196f3;
}
.email2 {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.tel2 {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.adress2 {
  font-family: "roboto" sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;

  color: #ffffff;
}
header {
  background-color: #ececec;
}
main {
  font-family: "roboto", sans-serif;
}
footer {
  background-color: #2f303a;
}
nav {
  font-family: "roboto", sans-serif;
}

.button {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 6%;
  text-align: center;

  background-color: #2196f3;
  color: #ffffff;
  margin: 30px 692px 200px;
  width: 216px;
  height: 50px;
}
.info{
  padding: 20px 1154px 60px 215px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.btn{
  width: 103px;
  height: 38px;
  border: #2196f3;
}
.btn:hover,
.btn:focus{
  color: #ffffff;
  background-color: #2196f3;
}
