.section-info {
    margin-top: 94px;
    margin-bottom: 94px;
  
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .gallery:nth-child(1)::before {
    content: "";
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../image/antenna\ 1.png);
  
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(245, 244, 250, 1);
    padding: 25px 100px;
  }
  .gallery:nth-child(2)::before {
    content: "";
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../image/clock\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(245, 244, 250, 1);
    padding: 25px 100px;
  }
  .gallery:nth-child(3)::before {
    content: "";
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../image/diagram\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(245, 244, 250, 1);
    padding: 25px 100px;
  }
  .gallery:nth-child(4)::before {
    content: "";
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../image/astronaut\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(245, 244, 250, 1);
    padding: 25px 100px;
  }
  
  .list-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 15px 0px;
  }
  .h3-list-info {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }
  .p-list-info {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
  }