.team{
    background-color: #2f303a ;
}
header{
   background-color:  #ececec ;
}
.info{
    background-color: rgb(58, 134, 220) ;
}
p{
    color: #757575 ;
}
h3{
    color: #212121;
}
h2{
    color: #212121;
}
h4{
    color: #757575;
}
footer{
    background-color: #2f303a;
}