.hero {
  font-family: "roboto", sans-serif;
  background-color: $fon__black;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/proecte.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;

  &__title__white {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin: 0px 237px 30px;
  }
  &__button {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    display: block;
    background-color: $hover;
    color: $white;
    margin: 0 auto;
    border: $hover;
    border-radius: 4px;
    padding: 10px 32px;
  }
}
