.info {
  margin-top: 94px;
  margin-bottom: 94px;
  text-align: left;
  @extend %flex;
  gap: 30px;
  &__list {
    @extend %flex;
    gap: 30px;
    padding: 0px 15px 0px;
  }
  &__item {
    &:nth-child(1)::before {
      content: "";
      width: 270px;
      height: 120px;
      display: inline-block;
      background-image: url(../image/antenna\ 1.png);

      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      padding: 25px 100px;
    }
    &:nth-child(2)::before {
      content: "";
      width: 270px;
      height: 120px;
      display: inline-block;
      background-image: url(../image/clock\ 1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      padding: 25px 100px;
    }
    &:nth-child(3)::before {
      content: "";
      width: 270px;
      height: 120px;
      display: inline-block;
      background-image: url(../image/diagram\ 1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      padding: 25px 100px;
    }
    &:nth-child(4)::before {
      content: "";
      width: 270px;
      height: 120px;
      display: inline-block;
      background-image: url(../image/astronaut\ 1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      padding: 25px 100px;
    }
  }
  &__title {
    @include text($family: "roboto", $size: 14px, $weight: 700);
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__text {
    @include text($family: "roboto", $size: 14px, $weight: 400);
    line-height: 24px;
    letter-spacing: 3%;
    color: $grey;
  }
}
