.info {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
  gap: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: initial;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  &__item {
    &:nth-child(1)::before {
      content: "";
      background-size: 70px;
      height: 120px;
      display: inline-block;
      background-image: url(./../image/antenna@x1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      width: 100%;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./../image/antenna@x2.png);
      }
      @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
      }
    }
    &:nth-child(2)::before {
      content: "";
      background-size: 70px;
      height: 120px;
      display: inline-block;
      background-image: url(./../image/clock@x1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      width: 100%;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./../image/clock@x2.png);
      }
      @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
      }
    }
    &:nth-child(3)::before {
      content: "";
      height: 120px;
      display: inline-block;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $fon__grey;
      width: 100%;
      background-image: url(./../image/diagram@x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./../image/diagram@x2.png);
      }
      @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
        background-image: url(./../image/diagram@x1.png);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(./../image/diagram@x2.png);
        }
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
        background-image: url(./../image/diagram@x1.png);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(./../image/diagram@x2.png);
        }
      }
    }
    &:nth-child(4)::before {
      content: "";
      height: 120px;
      display: inline-block;
      background-image: url(./../image/astronaut@x1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px;
      background-color: $fon__grey;
      width: 100%;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./../image/astronaut@x2.png);
      }
      @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
      }
      @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
      }
    }
  }
  &__title {
    @include text($family: "roboto", $size: 14px, $weight: 700);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__text {
    @include text($family: "roboto", $size: 14px, $weight: 400);
    line-height: 24px;
    letter-spacing: 3%;
    color: $grey;
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
  }
}
