.photo{
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__img {
    width: 370px;
    height: 294px;
    position: relative;
    z-index: -2;
  }
  &__title {
    padding: 27px 0px;
    position: relative;
    bottom: 70px;
    background-color: #2f303acc;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    z-index: -1;
  }
}
  
 
