.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $fon__grey;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .title__black{
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
 margin-bottom: 50px;
    }
  }
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }
  }
  &__photo {
    width: 450px;
    height: 460px;
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }
  &__item {
    border-radius: 4px;
    background-color: $white;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 24px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
  &__name {
    @include text($family: "roboto", $size: 16px, $weight: 500);
    margin-top: 30px;
    text-align: center;
    color: #212121;
  }
  &__profession {
    @include text($family: "roboto", $size: 16px, $weight: 400);
    margin-top: 10px;
    margin-bottom: 16px;
    text-align: center;
    color: $grey;
  }
  &__list__icon {
    @extend %flex;
    gap: 10px;
    margin: 0px 122px 0px 122px;
    @media screen and (min-width: 768px) {
      margin: 0px 74px 24px 74px;
    }
    @media screen and (min-width: 1200px) {
      margin: 0px 32px 30px 32px;
    }
  }
  &__link__icon {
    @include icon($padding: 12px, $fill: $grey__black, $border-r: 50%);
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      @include icon($padding: 12px, $fill: $white, $border-r: 50%);
      background-color: $hover;
      width: 44px;
      height: 44px;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
